<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>lightsabers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lightsabers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img width="200" height="150" src="https://vignette.wikia.nocookie.net/powerlisting/images/f/f2/Lightsabers_and_Users.jpg/revision/latest?cb=20180827000817"></ion-img>
</ion-content>
