<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Favorite Movie?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorite Movie?</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Ion radio buttons to allow them to update their favourite movie-->
  <ion-list>
    <ion-radio-group [(ngModel)]="favMovie">
    <ion-item >
      <ion-label>A New Hope</ion-label>
      <ion-radio value="A New Hope"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>The Empire Strikes Back</ion-label>
      <ion-radio value="The Empire Strikes Bac"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Return of the Jedi</ion-label>
      <ion-radio value="Return of the Jedi"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>The Phantom Menace</ion-label>
      <ion-radio value="The Phantom Menace"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Attack of the Clones</ion-label>
      <ion-radio value="Attack of the Clones"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Revenge of the Sith</ion-label>
      <ion-radio value="Revenge of the Sith"></ion-radio>
    </ion-item>
  </ion-radio-group>

  </ion-list>
<!--Button that calls the save function and brings them back to the home page-->
  <ion-button (click)="onSave()">Save</ion-button>
</ion-content>
