<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-back-button></ion-back-button>
    <ion-title color="warning">Movie Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large" color="warning">Facts</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--an image to give the initial page some color-->
  <ion-img height="50" width="50" src="https://i.redd.it/bz5g6pkozhf11.jpg"></ion-img>
  <!-- a card with information from the api about each movie -->
  <ion-card *ngFor="let movie of movieData">
    <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
    <ion-card-subtitle>Date: {{movie.release_date}}</ion-card-subtitle>
    <ion-card-subtitle>Director: {{movie.director}}</ion-card-subtitle>
    <ion-card-subtitle>{{movie.opening_crawl}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <!--Menu buttons-->
    <br>
    <ion-button color="warning" [routerLink]="['/episode1']" routerDirection="forward" fill="outline">Fav Movie</ion-button>
    <ion-button color="warning" [routerLink]="['/home']" routerDirection="forward" fill="outline">Home</ion-button>
    <ion-button color="warning" [routerLink]="['/lightsabers']" routerDirection="forward" fill="outline">Lightsabers</ion-button>
    <ion-button color="warning" [routerLink]="['/galaxy']" routerDirection="forward" fill="outline">Galaxy</ion-button>

</ion-content>
