<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Star Wars Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
 <!-- <h5>Welcome! Click on the title of the film you want to see information about!</h5> -->
  <ul>
    <li *ngFor="let x of films">
      {{x.title}}
    </li>
  </ul>

  <ion-button [routerLink]="['/episode1']" fill="outline">Episode 1</ion-button>
  <ion-button [routerLink]="['/episode2']" fill="outline">Episode 2</ion-button>
  <ion-button [routerLink]="['/episode1']" fill="outline">Episode 3</ion-button>


  </div>
</ion-content>
